<%- include("header") -%>
<div class="container">
    <h1>Hello from the Blog</h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloremque a temporibus laboriosam, assumenda facere perferendis quos doloribus, sequi, repellat eveniet blanditiis nostrum pariatur ut ipsam nam aliquid vel modi. Optio!
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloremque a temporibus laboriosam, assumenda facere perferendis quos doloribus, sequi, repellat eveniet blanditiis nostrum pariatur ut ipsam nam aliquid vel modi. Optio!
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloremque a temporibus laboriosam, assumenda facere perferendis quos doloribus, sequi, repellat eveniet blanditiis nostrum pariatur ut ipsam nam aliquid vel modi. Optio!</p>
    <div class="blog-posts">    
        <% blogPostCollection.forEach(function(post, index) { %>
            <h1><%= post[0].substring(0, 100) %></h1>
            <p><%= post[1].substring(0, 100) %>...<a href="/blogpost?title=<%= post[0] %>&blogNumber=<%= index %>">More</a></p>
            
        <% }); %>       
    
    </div>
</div>
<%- include("footer") -%>