<%- include("header") -%>
<div class="container">
    <h1>Welcome to the Blog App</h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloremque a temporibus laboriosam, assumenda facere perferendis quos doloribus, sequi, repellat eveniet blanditiis nostrum pariatur ut ipsam nam aliquid vel modi. Optio!
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloremque a temporibus laboriosam, assumenda facere perferendis quos doloribus, sequi, repellat eveniet blanditiis nostrum pariatur ut ipsam nam aliquid vel modi. Optio!
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloremque a temporibus laboriosam, assumenda facere perferendis quos doloribus, sequi, repellat eveniet blanditiis nostrum pariatur ut ipsam nam aliquid vel modi. Optio!</p>
    <div class="blog-posts">    
        <% blogPostCollection.forEach(function(post, index) { %>
            <h1><%= post.name %></h1>
            <p><%= post.content %>...<a href="/blogpost?title=<%= post.name %>">More</a></p>
            
        <% }); %>       
    
    </div>
</div>
<%- include("footer") -%>